.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.title{
    color:rgb(214, 214, 214);
    font-size: 1.5rem;
    transition: all 450ms ease-in;
    cursor: pointer;

}
.active{
    color: rgb(0, 0, 0);
    font-size: 2rem;
}