.main {
  height: 100vh;
  width: 100%;
  transition: all 450ms;
}
.posters {
  display : flex;
  align-items: flex-end;
  position: absolute;
  top: 10rem;
  left:42rem;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.posters::-webkit-scrollbar {
  display: none;
}

.posterImg {
  width: 100%;
  max-height: 14rem;
  margin: 1.5rem;
  margin-left: 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.637) 10px 10px 15px, rgba(0, 0, 0, 0.425) 10px 6px 6px;
  transition:all 500ms ease-in;
  
}

.active{
  max-height:18rem ;
  border-radius: 0;

}
